NODE_ENV=development
PORT=5050
CLIENT_ORIGIN=http://localhost:5173
DATABASE_URL=postgresql://postgres@localhost:5432/viec3mien_admin
JWT_ACCESS_SECRET=change-this-access-secret
JWT_REFRESH_SECRET=change-this-refresh-secret
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=false
ENABLE_SEED=true
